---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import Flight from '../components/Flight.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucas :D</title>
	</head>
	<body>
		<Header />
		<div class="introflex">
			<div class="intro">
				<div class="about">
					<h1>Who am I?</h1>
					<h2>I'm a...</h2>
						<select name="things" id="select">
							<option>Developer</option>
							<option>Designer</option>
							<option>Human</option>
							<option>Problem solver</option>
							<option>Dog lover</option>
							<option>Brazilian</option>
							<option>Reader</option>
							<option>Photographer</option>
							<option>Logistic person</option>
							<option>Hackathon organizer</option>
							<option>Comedian</option>
							<option>Translator</option>
							<option>Teacher</option>
						</select>
				</div>
			</div>
		</div>
		<h1>Currently working on:</h1>
		<div class="cards">
			<Card image="cloud-1gwhy4jr2-hack-club-bot.vercel.app/0image.png" name="Sprig" link="github.com/hackclub/sprig" imglink="cloud-kh9fo584d-hack-club-bot.vercel.app/0icons8-github.svg" description="I'm volunteer reviewing Sprig games" />
			<Card image="cloud-663l6uiwe-hack-club-bot.vercel.app/0design_sem_nome__10_.png" name="GE" link="instagram.com/ge_colegio.interativo" imglink="cloud-d10b68igp-hack-club-bot.vercel.app/0icons8-instagram.svg" description="Designer, writer and operations director" />
			<Card image="cloud-3kwnfmsw1-hack-club-bot.vercel.app/0logo__1_.png" name="Hack SP" link="github.com/HACK-SP-BR" imglink="cloud-kh9fo584d-hack-club-bot.vercel.app/0icons8-github.svg" description="Main Coordinator & Hackathon Organiser" />
			<Card image="cloud-8h370c7mu-hack-club-bot.vercel.app/0frame_24.svg" name="Others Hackathons..." link="0" imglink="0" />
		</div>
		<br>
        <h1>Aviation!</h1>
        <p>I live on the takeoff route of runway 28R from Guarulhos Airport, I spend hours watching the planes passing overhead</p>
        <p>I track these flights daily!</p>
		<div class="aviation">
			<Flight name="EK261" IATA="IATA: DXB-GRU" ICAO="ICAO: OMDB-SBGR" />
			<Flight name="LH507" IATA="IATA: GRU-FRA" ICAO="ICAO: SBGR-EDDF" />
		</div>
		<Footer />
	</body>
</html>
